*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.body{
    height: 100%;
    margin: 0;
}
.menu{
    padding: 2%;
    background-color: gray;
    width: 100%;
}
.menu a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: auto;
    padding: 7em;
    font-size: unset;
}
.botaMenu{
    margin-left: 2%;
}

.botoes {
   margin: auto;
   width: max-content;
   background-color: dodgerblue;
   padding: 10px;
   border-radius: 5px;
}
.botao {
    text-decoration: none;
    color: white;
    margin: 0% 10px;
}
.informacoes__central{
    background-color: white
}
.Titulo{
    color: black;
    text-align: center;
    font-size: 30px;
    padding: 30px;
    margin-top: 5%;
}
.informacoes__central2{
    padding-bottom: 35px;
    height: auto;
    width: 100%;
    background-color: rgba(105, 105, 105, 1)
}
.informacoes__central3{
    padding-bottom: 35px;
    height: auto;
    width: 100%;
    background-color: white
}
.informacoes__central4{
    padding-bottom: 35px;
    height: auto;
    width: 100%;
    background-color: rgba(105, 105, 105, 1)
}
.texto__central{
    padding: 5%;
    color: black;
    font-size: 20px;
    display: inline-block;
    justify-content: space-between;
}
.texto__central2{
    padding: 5%;
    color: white;
    font-size: 20px;
    display: inline-block;
    justify-content: space-between;
}
.texto__central3{
    padding: 5%;
    color: black;
    font-size: 20px;
    display: inline-block;
    justify-content: space-between;
}
.texto__central4{
   padding: 5%;
   color: white;
   font-size: 20px;
   display: inline-block;
   justify-content: space-between;
}
.video{
    padding: 3%;
    border-radius: 10px;
    margin-left: 2.5%;
    height: 62%;
    width: 95%;
}
@media screen and (max-width: 414px){
    .Titulo {
        font-size: 24px;
        padding: 20px;
    }
  
    .informacoes__central2,
    .informacoes__central3 {
        height: auto;
    }
  
    .texto__central,
    .texto__central2,
    .texto__central3 {
        font-size: 16px;
        padding: 3%;
    }
    .botoes{
        margin-top: 5%;
    }
    .video {
        height: 50%;
        margin-left: 0;
        width: 100%;
    }
  
    header {
        margin-left: 0;
        justify-content: center;
        flex-direction: column;
    }
}
@media screen and (max-width: 320px){
     .botoes{
        padding: 10px;
    }
}
